extends layout

block content
  div.container
    div.field
      div.defensiveRead
      div.playClock
        span#playClock

    div.placeholderButtons
      div#snap.placeHolderSnap
        input(type="submit" value="Hut Hut Hike!").buttonSnap
      div.WRbuttons
        div.wr1
          input(type="submit" value="Wide Receiver 1")
        div.wr2
          input(type="submit" value="Wide Receiver 2")
        div.wr3
          input(type="submit" value="Wide Receiver 3")
    div.placeholderBirdsEyeView
      img(src="http://cdn1.sbnation.com/imported_assets/475727/kfield1.gif").birdsEyeImg

    div.topLeft
      h1 Pass Plays
      input(type="image" src="http://i.dailymail.co.uk/i/pix/2013/02/21/article-2282473-182E101C000005DC-342_306x423.jpg" name="plays").playImages#playImages
    div.topRight
      h1 Run Plays
      input(type="image" src="http://i.dailymail.co.uk/i/pix/2013/02/21/article-2282473-182E101C000005DC-342_306x423.jpg" name="plays").playImages#playImages
