extends layout

block content
  div.container
    div.scoreBoard
      div
        p.drive
      div
        p.down
      div
        p.score
    div.field
      img(src='../images/browserQbCover.jpg').introImg
      div.progressionContainer
        div.progressionMask
      div.progressionHider
        div.progressionDiv
          div.progressionPages
            h1 First Read
            input(type='button' value='WR1').progressionSubmissionBtn1.progButtons.progression1.WR1submissionBtn
            input(type='button' value='WR2').progressionSubmissionBtn1.progButtons.progression1.WR2submissionBtn
            input(type='button' value='WR3').progressionSubmissionBtn1.progButtons.progression1.WR3submissionBtn 
            input(type='button' value='WR4').progressionSubmissionBtn1.progButtons.progression1.WR4submissionBtn
          div.progressionPages
            h1 Second Read
            input(type='button' value='WR1').progressionSubmissionBtn2.progButtons.progression2.WR1submissionBtn
            input(type='button' value='WR2').progressionSubmissionBtn2.progButtons.progression2.WR2submissionBtn 
            input(type='button' value='WR3').progressionSubmissionBtn2.progButtons.progression2.WR3submissionBtn 
            input(type='button' value='WR4').progressionSubmissionBtn2.progButtons.progression2.WR4submissionBtn
          div.progressionPages
            h1 Third Read
            input(type='button' value='WR1').progressionSubmissionBtn3.progButtons.progression3.WR1submissionBtn
            input(type='button' value='WR2').progressionSubmissionBtn3.progButtons.progression3.WR2submissionBtn 
            input(type='button' value='WR3').progressionSubmissionBtn3.progButtons.progression3.WR3submissionBtn 
            input(type='button' value='WR4').progressionSubmissionBtn3.progButtons.progression3.WR4submissionBtn
          div.progressionPages
            h1 Fourth Read
            input(type='button' value='WR1').progressionSubmissionBtn4.progButtons.progression4.WR1submissionBtn
            input(type='button' value='WR2').progressionSubmissionBtn4.progButtons.progression4.WR2submissionBtn 
            input(type='button' value='WR3').progressionSubmissionBtn4.progButtons.progression4.WR3submissionBtn 
            input(type='button' value='WR4').progressionSubmissionBtn4.progButtons.progression4.WR4submissionBtn
          div.progressionPages
            h1 Fifth Read
            input(type='button' value='WR1').progressionSubmissionBtn5.progButtons.progression5.WR1submissionBtn
            input(type='button' value='WR2').progressionSubmissionBtn5.progButtons.progression5.WR2submissionBtn 
            input(type='button' value='WR3').progressionSubmissionBtn5.progButtons.progression5.WR3submissionBtn 
            input(type='button' value='WR4').progressionSubmissionBtn5.progButtons.progression5.WR4submissionBtn

      img(src="http://findicons.com/files/icons/924/sportset/128/american_football_128x128.png").footballIMG
      div.defensiveRead
      span.placeHolderDefensiveSpan
      div.placeholderOffensiveLineSpanContainer
        span.offensiveLineSpan
      div.playClockDiv
        span#playClock
    div.placeholderButtons
      div.bottomButtonContainer
        div.hikeButtonContainer
          div.huthutHIKEbttn
            input(type="button" value="Hut Hut Hike!").buttonSnap.button.button-3d
            div.preSnapReadContainer
              img(src).birdsEyeImg
              div.placeholderWRbuttons
                div.wr1
                  input(type="button" value="Wide Receiver 1")
                  label.wr1Label
                div.wr2
                  input(type="button" value="Wide Receiver 2")
                  label.wr2Label
                div.wr3
                  input(type="button" value="Wide Receiver 3")
                  label.wr3Label
                div.wr4
                  input(type="button" value="Wide Receiver 4")
                  label.wr4Label
    div.pregame
      h1 Welcome to BrowserQB!
      p You have 3 drives to score 14 points. 
      div.center
        form(action="/", method='post' id="mainInitials")
          label Enter your name to start playing!
        input(type="text" name="user_initials" id="initials")
        p
          input(type="submit" value="Take to the field!" id="initialsButton").startGameBtn
        p
          input(type="button" value="How To Play").howToPlayButton
    div.howToContainer
      div.mask
    div.hider
      div.howToPlayDiv
        div.pages
          p.howToPlayPage.current
          input(type='button' value='What to do when under center').nextPage
          input(type='button' value='Back To The Field!').closeHowToButton
          h1 How To Play!
          p To win score on 2 out of 3 drives
          p At the play selection screen you have three pass plays to choose from. 
          p
          p Smash
          p Four Verticles
          p Bob's Your Uncle
          p 
          p Pay close attention to the routes your recievers are running
          p "Short Passes Are The New Run" -Mohn Jadden 
        div.pages
          div.howToPlayPage
          input(type='button' value= 'Learn More About Your Progression').nextPage
          input(type='button' value= 'Back').lastPage
          input(type='button' value='Back To The Field!').closeHowToButton
          h1 Under Center
          p After you've selected your play you're brought to the Under Center screen.
          p Here is where you make a pre-snap read and determine your progression
          h2.div Pre-Snap Read
          p The Defense could be running any number of coverages. 
          p Man Coverage
          p Zone Coverage
          p Mixed Coverage
          p
          p In order to know what receivers will be open use the picture of the defensive formation
          p Ask yourself, "Where are the safeties?, How much space are the CBs giving my WRs?, What routes look good against this coverage?" and any other questions that can lead to improving
        div.pages
          div.howToPlayPage
          input(type='button' value='Understanding Your Reads').nextPage
          input(type='button' value= 'Back').lastPage
          input(type='button' value='Back To The Field!').closeHowToButton
          h1 Progression Is Paramount
          p Your progression is the order you read your WR's routes
          p If your progression is WR1, WR1, WR2, WR3, WR4 
          p The first two reads will be about WR1's route
          p The third read would be about WR2's route
          p The fourth read is about WR3 and the fifth is WR4.
          p
          p Pay close attention to what route the WR is running. 
          p Different routes are effective againt different coverages
          p
          p You choose your progression order when under center
          p You have a max of 5 progression reads
        div.pages
          div.howToPlayPage
          input(type='button' value='The Anatomy Of Smash').nextPage
          input(type='button' value= 'Back').lastPage
          input(type='button' value='Back To The Field!').closeHowToButton
          h1 Understanding Your Reads
          br
          p After hiking the ball you'll see your reads flash on the field.
          p Each read represents what is happening to the WR you selected in your progression.
          p Every read impacts the odds of a successful pass
          p
          p Be sure to remember the order of your reads
        div.pages
          div.howToPlayPage
          input(type='button' value='The Anatomy of Four Verticals').nextPage
          input(type='button' value= 'Back').lastPage
          input(type='button' value='Back To The Field!').closeHowToButton
          h1 Smash Anatomy
          p There are 4 routes in the Smash play
          p WR1 is running a hitch route
          p A hitch route is good against soft coverage where the safety is deep and the cornerback is short
          p Against man coverage or a zone scheme where the cornerback is mid field throwing the hitch route is not the best decision
          pe
          p WR2 is running an outside post route
          p This route is effective against zone coverage when the safety isn't on the left side of the field and the CB isn't deep
          p WR3 is running a cross route
          p This route is effective in man coverage or a soft zone when the CBs play back
          p
          p WR4 is running an inside post route
        div.pages
          div.howToPlayPage
          input(type='button' value='The Anatomy of Bobs your uncle').nextPage
          input(type='button' value= 'Back').lastPage
          input(type='button' value='Back To The Field!').closeHowToButton
          h1 Four Vertical Anatomy
          br
          h2 Every WR sprints towards the endzone
          p This play is effective when the CBs are pressing
          p The goal of the play is to outnumber the defenders down the field
          p It is very difficult for two safeties to cover 4 WRs
        div.pages
          div.howToPlayPage
          input(type='button' value='Defensive Plays').nextPage
          input(type='button' value= 'Back').lastPage
          input(type='button' value='Back To The Field!').closeHowToButton
          h1 Bob's Your Uncle's Anatomy
          br
          p WR1 is running an inside post route
          p
          p WR2 is running a delayed flat route
          p
          p WR3 is running a mid-field quazi slant route thing
        div.pages
          div.howToPlayPage
          input(type='button' value='Learn About Cover 3').nextPage
          input(type='button' value= 'Back').lastPage
          input(type='button' value='Back To The Field!').closeHowToButton
          h1 Cover 2 via Wikipedia
          p Teams that play Cover 2 shells usually ascribe to the "bend-but-don't-break" philosophy, preferring to keep offensive players in front of them for short gains while limiting long passes. This is in stark contrast to a more aggressive Cover 1 type scheme which leaves the offensive team's wide receivers in single man-to-man coverage with only one deep helper. By splitting the deep field between two defenders, the defense can drastically reduce the number of long gains.
          | The main weakness of the Cover 2 shell occurs in the middle of the field between the safeties. The safeties attempt to gain width upon the snap of the ball to cover any long passes to quick wide receivers down the sideline. This movement creates a natural hole between the safeties that can be attacked. By sending a receiver (usually a tight end) into the hole, the offense forces the safety to make a decision: play the vulnerable hole in the middle of the field or help out on the wide receiver. The quarterback reads the safety's decision and decides on the best matchup (i.e. which mismatch is better—TE vs S or WR vs CB). Also many NFL teams find a weakness between the corner and the safety on a deep out route. There is a little gap in between and the best quarterbacks can hit the gap with the right timing.
          | Cover 2 also clogs up the QB's throwing lanes. A linebacker can be assigned deep to cover the area between the safeties and the linebackers, similar to Cover 3. Dropping a CB to one of the zones can allow a safety to blitz or drop down into the box area.
        div.pages
          div.howToPlayPage
          input(type='button' value='Learn About Man Coverage').nextPage 
          input(type='button' value= 'Back').lastPage
          input(type='button' value='Back To The Field!').closeHowToButton
          h1 Cover 3
          p Cover 3 refers to 3 deep defenders each guarding one-third of the deep zone. Cover 3 schemes are usually used to defend against passes, mainly those towards the deep middle of the field. Unlike Cover 2 schemes that create a natural hole between safeties, Cover 3's extra deep defender is able to patrol the middle area effectively.
          |The most basic Cover 3 scheme involves 2 CBs and a safety. Upon snap, the CBs work for depth, backpedaling into their assigned zone. One safety moves toward the center of the field. The other safety is free to rotate into the flat area (about 2-4 yards beyond the line of scrimmage), provide pass coverage help, or blitz.
          p Cover 3 schemes are susceptible to short, timed passes to the outside due to the hard drop of both CBs. This puts pressure on the OLBs to get into their drop quickly. Another disadvantage of cover 3 schemes is they are relatively easy to diagnose by opposing QBs. Because of this teams will often employ slight wrinkles in their coverage to confuse offenses. An example of this includes employing man coverage on one side and zone on another or swaping coverage zones between defenders.
          p Source - Wikipedia
        div.pages
          div.howToPlayPage
          input(type='button' value='Back').lastPage
          input(type='button' value='Back To The Field!').closeHowToButton
          h1 Man Coverage
          p Simply stated, man-to-man coverage is when any defensive back, or maybe even a linebacker, is assigned to cover a specific offensive player, such as a running back, tight end, or wide receiver. The defender must cover (stay with) this player all over the field until the play ends. His responsibility is to make sure the receiver doesn’t catch a pass. The most important rule of man-to-man coverage (which is also known as man coverage) is that the defensive back must keep his eyes on the player that he’s guarding or is responsible for watching.
          p Source dummies.com
          p Man coverage can be mixed with zone coverage so one or two defenders remain in a zone
    div.placeHolderTopLeft
      h1 Pass Plays
      input(type="button" value="How To Play").howToPlayButton
      div.passPlays
        div.smash
          span Smash
          img(src='../images/smash.png' name='smash').passImage#playImages.smashImg
        div.fourverticals
          span Four Verticals
          img(src="../images/fourVerticals.jpg" name="fourverticals").passImage#playImages.fourVerticals
        div.bobsyouruncle
          span Bob's Your Uncle
          img(src='../images/BobsYourUncle.jpg' name='bobsyouruncle').passImage#playImages.BobsYourUncle
     