extends layout

block content
  div.container
    div.field.contain
      img(src="http://findicons.com/files/icons/924/sportset/128/american_football_128x128.png").footballIMG
      div.defensiveRead
      span.defensiveSpan
      div.playClockDiv
        span#playClock

    div.placeholderButtons
      div#snap.placeHolderSnap
        input(type="submit" value="Hut Hut Hike!").buttonSnap
      div.placeholderWRbuttons
        div.wr1
          input(type="submit" value="Wide Receiver 1")
        div.wr2
          input(type="submit" value="Wide Receiver 2")
        div.wr3
          input(type="submit" value="Wide Receiver 3")
    div.placeholderBirdsEyeView
      img(src="http://cdn1.sbnation.com/imported_assets/475727/kfield1.gif").birdsEyeImg

    div.topLeft
      h1 Pass Plays
      input(type="image" src="http://ih1.redbubble.net/image.61056662.5747/fc,800x800,white.u1.jpg" name="plays").playImages#playImages
    div.topRight
      h1 Run Plays
      input(type="image" src="http://glb.warriorgeneral.com/images/plays/171.gif" name="plays").playImages#playImages
