extends layout

block content
  div.container
    div.topLeft
      h1 Pass Plays
      input(type="image" src="http://i.dailymail.co.uk/i/pix/2013/02/21/article-2282473-182E101C000005DC-342_306x423.jpg" name="plays").playImages#playImages
    div.topRight
      h1 Run Plays
      input(type="image" src="http://i.dailymail.co.uk/i/pix/2013/02/21/article-2282473-182E101C000005DC-342_306x423.jpg" name="plays").playImages#playImages
    div.field
      div.playClock
        span#playClock

      div.defensiveRead
    div.buttons
      div.snap
        input(type="submit" value="Hut Hut Hike!")
      div.WRbuttons
        div.wr1
          input(type="submit" value="Wide Receiver 1")
        div.wr2
          input(type="submit" value="Wide Receiver 2")
        div.wr3
          input(type="submit" value="Wide Receiver 3")
    div.birdsEyeView
      img(src="http://ak-hdl.buzzfed.com/static/2014-07/28/11/enhanced/webdr09/anigif_enhanced-20528-1406561046-20.gif").birdsEyeImg

