doctype html
html
  head
    title= title
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    script(src="/javascripts/jquery.js")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    script(src="/javascripts/playclock.js")
    script(src="/javascripts/visibility.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content